.page-home {
  background-image: url("../images/fs-van.jpg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: -20px 60px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 50px 100px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 90% 200px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 48rem;
    background-position: 78% 200px;
  }
}
